<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Themenauswahl</title>
    <link rel="stylesheet" href="/static/fragen-auswahl-style.css" />
  </head>
  <body>
    <div class="menu-container">
      <div class="fragen-header">
        <h1 class="titel-themen-auswahl">Wähle ein Thema für die Fragen</h1>
        <div class="fragen-header-nav">
          <ul class="navbar-menu">
            <li><a href="/" class="navbar-link">Home</a></li>
            <li><a href="#about" class="navbar-link">About</a></li>
            <li><a href="#services" class="navbar-link">Services</a></li>
            <li><a href="#contact" class="navbar-link">Contact</a></li>
          </ul>
        </div>
      </div>
      <div id="categories-menu" class="button-container">
        <!-- Kategorien werden hier dynamisch hinzugefügt -->
      </div>
    </div>
    <script src="/static/get-questions-options.js"></script>
  </body>
</html>
