<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Menü</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Noto+Sans+Mono:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="menu-container">
      <h1>
        Trinken & Denken <br />
        Deine Pub-Quiz-Duell-Vorbereitung
      </h1>
      <div class="button-container">
        <a href="/fragen-themen" class="menu-button">Quiz-Fragen</a>
        <a href="/spotify-login" class="menu-button">Guess-The-Song</a>
      </div>
    </div>
  </body>
</html>
