<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess the Song</title>
    <link rel="stylesheet" href="/static/spotify-style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Battle der <br />Klang-Imperien</h1>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% if preview_url %}
      <audio controls id="audio_player">
        <source src="{{ preview_url }}" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      {% else %}
      <p>Sorry, no preview available for this song.</p>
      {% endif %}

      <form action="{{ url_for('spotify_quiz') }}" method="POST">
        <div class="spotify_quiz-input-container">
          <label class="spotify_quiz-input-container-lable" for="song_guess"
            >Welcher Track ist das?</label
          >
          <input
            type="text"
            id="song_guess"
            name="song_guess"
            required
            autocomplete="off"
          />
          <!--           <div id="suggestions"></div> -->
        </div>
        <input
          class="spotify_quiz-input-container-input"
          type="submit"
          value="Submit"
        />
      </form>
    </div>

    <script>
      document.getElementById("audio_player").volume = 0.3; // Set default volume to 30%

      document
        .getElementById("song_guess")
        .addEventListener("input", function () {
          let query = this.value;

          if (query.length > 1) {
            // Start searching after 1 characters
            fetch(`/search?q=${query}`)
              .then((response) => response.json())
              .then((data) => {
                let suggestions = document.getElementById("suggestions");
                suggestions.innerHTML = ""; // Clear previous suggestions

                data.songs.forEach((song) => {
                  let item = document.createElement("div");
                  item.classList.add("suggestion-item");
                  item.innerHTML = `<img src="${song.album_cover}" alt="Album cover"><span>${song.name} - ${song.artist}</span>`;
                  item.onclick = function () {
                    document.getElementById(
                      "song_guess"
                    ).value = `${song.name} - ${song.artist}`;
                    suggestions.innerHTML = ""; // Clear suggestions after selection
                  };
                  suggestions.appendChild(item);
                });
              });
          } else {
            document.getElementById("suggestions").innerHTML = ""; // Clear suggestions if query is too short
          }
        });
    </script>
  </body>
</html>
